@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: Muli;
    src: url(../muli/Muli.ttf) format("truetype");
}

* {
    margin: 0;
    padding: 0;
}
*:after{
    clear: both;
    content: '';
    display:block;
}
body {
    font: 14px/20px 'Muli', sans-serif;
}

h1 {
    font-size: 30px;
}

p {
    font: 12px/20px 'Muli', sans-serif;
    color: black;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #7dd8e8;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

.header {
    background: #7dd8e8;
    padding: 20px;
}

.container {
    margin: 0 auto;
    width: 100%;
    
}

.logo a {
    display: block;
}

.searchbox, .sidebar {
    display: none;
}

.header-nav {
    text-align: center;
}

.header-nav span {
    display: block;
}

.menu {
    
    display: inline-block;
}

.header-nav li {
    float: left;
}

.header-nav li a{
display: inline-block;
}

.header-nav li a:hover {
    color: white;
}

.header-nav li:after {
    content: "|";
    display: inline-block;
}

.header-nav li:last-child:after {
    content: "";
    display: inline-block;
}

.nav {
    display: none;
}

.main-content-wrapper {
    margin: 30px 0px 40px 0px;
}

.main-content-header {
    background: #274f56;
    color: white;
    padding: 15px;
    display: block;
    font-size: 18px;
}

.main-content-header span {
    font-size: 14px;
}

.main-content-row {
    margin: 15px 15px;
    border-bottom: 1px solid;
    padding-bottom: 15px;
    overflow: auto;
}

.main-content-img {
    float: left;
    width: 20%;

}

.main-content-img img {
    width: 100%;
}

.main-content-info {
    float: right;
    display: block;
    width: 75%;
}

.list-explanation li {
    float: left;
}

.list-explanation ul li a{
    display: inline-block;
}

.list-explanation li:after {
    display: inline-block;
    content: '|';
}

.list-explanation li:last-child:after {
    content: "";
    padding: 0 5px;
}

.main-content-body a {
    color: #7dd8e8;

}

.main-content-body span {
    display: block;
}

.main-content-body .list-title {
    font-size: 16px;
}

.main-content-body img {
    border-radius: 10px;

}

.main-content-body li {
    /*padding-bottom: 16px;*/
}

/*to the top span*/
.main-content .to-top {
    float: right;
    color: #4e4e4e;
    margin: 16px;
}

/*footer*/
.footer {
    clear: both;
    padding: 20px;
    background: #dddddd;
}

.footer ul{
    display: inline-block;
}
.footer ul li {
    /*float: left;*/
    color: #979797;
}

.footer a {
    color: #979797;
}

.footer ul li {
    margin-left: 10px;
    display: inline-block;
}

/*.footer span {*/
    /*display: block;*/
    /*text-align: center;*/
/*}*/

@media (min-width: 767px) {

    .header {
        
    }

    .header-nav {
        float: right;
        text-align: right;
    }

    .header-nav span {
        display: block;
    }

    .sidebar {
        display: block;
        float: left;
        width: 20%;
        background: #f5f5f5;
    }

    .sidebar-right {
        display: none;
    }

    .heading{
        background: #2fc1d9;
        padding: 10px;
    }

    .col-3-left-layout .container{
        background-image: url("../images/background.png");
        background-repeat:repeat-y;
    }

    .sidebar-left {
        display: block;
        float: left;
        background: #f5f5f5;
    }

    .sidebar-left .sidebar-title {
        width: 80%;
        background: #2fc1d9;
        font-size: 16px;
        display: block;
    }

    .sidebar-title-icon{
        float: right;
    }
    .sidebar-left .sidebar-row {
        padding-bottom: 25px;
    }

    .sidebar-left .recent-searches li a{
        background-image: url('../images/download-icon.png');
        background-position: 95% 50%;
        background-repeat: no-repeat;
    }



    .sidebar-left .saved-searches li a{
        background-image: url('../images/burger-icon.png');
        background-position: 95% 50%;
        background-repeat: no-repeat;
    }



    .sidebar .sidebar-left li {
        font-size: 14px;
    }

    .sidebar .sidebar-left li a {
        padding: 10px;
        display: block;
    }

    .sidebar .sidebar-left li a:hover {

        background: white;
        color: #7dd8e8;

    }

    .main-content-wrapper {
        
        margin: 30px 0px 40px 0px;
    }


    .main-content-header {
        background: #274f56;
        color: white;
        padding: 15px;
        display: block;
    }

    .main-content-body {

        height: 520px;
        width: 100%;
        overflow: scroll;
        overflow-x: hidden;
    }

    .main-content-row {
        /*margin: 10px 0px;*/
        border-bottom: 1px solid;
        /*padding: 15px 0px;*/
        overflow: auto;
    }

    .main-content-img {
        float: left;
        padding-right: 10px;

    }

    .main-content-info {
        float: left;
        display: block;
    }

    .main-content-body a {
        color: #7dd8e8;

    }

    .main-content-body span {
        display: block;
    }

    .main-content-body img {
        margin-right: 10px;
        border-radius: 10px;
    }

    .main-content-body li {
        /*padding-bottom: 16px;*/
    }

    .main-content-body .list-title {
        font-size: 16px;
    }

    .main-content-body .list-explanation {
        float: left;
        font-size: 12px;
    }

    .main-content-img {
        float: left;
        width: 10%;
        padding-right: 10px;
    }

    .main-content-info {
        float: left;
        display: block;
        width: 80%;
    }

    /*to the top span*/
    .main-content .to-top {
        float: right;
        color: #4e4e4e;
        margin-top: 16px;
    }

    /*scroll bar*/
    ::-webkit-scrollbar {
        width: 6px;
    }

    ::-webkit-scrollbar-track-piece {
        background: #f2f2f2;
    }

    ::-webkit-scrollbar-thumb {
        background: #979797;
        border-radius: 6px;
    }

    /*footer*/
    /*.footer span {*/
        /*padding: 0px;*/
        /*float: right;*/
    /*}*/

}

@media (min-width: 992px) {

    .container {
        margin: 0 auto;
        width: 960px;
    }



    .header {
        
        background: #7dd8e8;
        padding: 20px;
    }

    .logo {
        float: left;
    }

    .nav {
        display: block;
        background: #f5f5f5;

    }

    .nav li {
        margin-left: 0px;
    }

    .nav li a {
        display: block;
        padding: 10px;
    }

    .nav li a:hover {
        background: #7dd8e8;
        color: white;
    }

    .nav-left {
        float: left;
    }

    .nav-left li {
        float: left;
        /*margin: 10px;*/
    }

    .nav-right {
        float: right;
    }

    .nav-right .no-requests{
        color: #969696;
    }

    .nav-right li {
        float: right;
        /*margin: 10px 0 10px 10px;*/
    }


    .searchbox {
        display: block;
    }

    .logo {
        float: left;
    }

    .logo a {
        display: block;
    }

    h1 {
        font-size: 45px;
        font-weight: 300;
    }

    .searchbox {
        float: left;
        margin-top: 15px;
        margin-left: 25px;
    }

    input {
        padding: 5px;
        border: 0px;
        border-radius: 10px;

    }

    .search-wrap {
        float: left;
        margin-right: 20px;
        background: #cbeff6;
        border-radius: 10px;
        width: 300px;
    }

    .search-result {
        background: #cbeff6;
        width: 85%;
    }

    .search-wrap .close {
        border-radius: 3px;
        float: right;
        margin-right: 10px;
    }

    .search-button {
        background: #274f56;
        color: white;
        font-weight: 600;
    }

    .menu li {
        float: left;
        /*not in li but in after*/
        /*margin-left:10px;*/
    }

    .menu li:after {
        margin: 0px 2px;
        content: "|";
        display: inline-block;
    }

    .menu li:last-child:after {
        content: "";
        display: inline-block;
    }

    /*
    .menu li+ li{
        content: "|";
    }*/
    .header-nav {
        float: right;
        text-align: right;
    }

    .header-nav span {
        display: block;
    }

    .nav {
        background: #f5f5f5;
        
    }

    .nav li {
        margin-left: 10px;
    }

    .nav li a {
        padding: 20px;
    }

    .nav-left {
        float: left;
    }

    .nav-left li {
        float: left;
        /*margin: 10px;*/
    }

    .nav-right {
        float: right;
    }

    .nav-right li {
        float: right;
        /*margin: 10px 0 10px 10px;*/
    }

    .sidebar {
        float: left;
        width: 190px;
        background: #f5f5f5;
    }

    .sidebar-right {
        display: block;
    }


    .sidebar-row {
        padding-bottom: 25px;
    }



    .sidebar-title {
        font-size: 16px;
        display: block;
        float: left;
        width:80%;
    }

    .sidebar-title-icon img{
        float: right;
        border: none;
    }

    .sidebar li {
        font-size: 14px;
    }

    .sidebar li a {
        padding: 10px;
        display: block;
    }

    .sidebar li a:hover {
        background: white;
        color: #7dd8e8;

    }

    .main-content-wrapper {
        margin: 30px 0px 40px 0px;
    }

    .main-content {
        width: 520px;
        float: left;
    }

    .main-content-header {
        background: #274f56;
        color: white;
        padding: 15px;
        display: block;
    }

    .main-content-body {

        height: 520px;
        overflow: scroll;
        overflow-x: hidden;
    }

    .main-content-row {
        margin: 10px 0px;
        border-bottom: 1px solid;
        padding-bottom: 15px;
        overflow: auto;
    }

    .main-content-img {
        float: left;
        padding-right: 10px;

    }

    .main-content-info {
        float: left;
        display: block;
    }

    .main-content-body a {
        color: #7dd8e8;

    }

    .main-content-body span {
        display: block;
    }

    .main-content-body .list-title {
        font-size: 16px;
    }

    .main-content-body img {
        border-radius: 10px;

    }

    .main-content-body li {
        /*padding-bottom: 16px;*/
    }

    .list-explanation {
        font-size: 12px;
    }

    /*to the top span*/
    .main-content .to-top {
        float: right;
        color: #4e4e4e;
        margin-top: 16px;
    }

    /*scroll bar*/
    ::-webkit-scrollbar {
        width: 6px;
    }

    ::-webkit-scrollbar-track-piece {
        background: #f2f2f2;
    }

    ::-webkit-scrollbar-thumb {
        background: #979797;
        border-radius: 6px;
    }

    /*footer*/
    .footer {
        clear: both;
        background: #dddddd;
    }

    .footer ul li {
        /*float: none;*/
        display: inline-block;
        color: #979797;
    }

    .footer a {
        color: #979797;
        display: inline-block;
    }

    .left-footer{
        float: left;
    }

    .right-footer{
        float: right;
        /*display:block;*/
    }

    .footer ul li:after {
        margin: 0px 10px;
        content: "\2022";
        display: inline-block;
    }

    .footer ul li:last-child:after {
        content: "";

    }

    .footer span {
        float: right;
        margin: 1px;
    }

}

/*page-all*/


.page-pageall .topic-box-wrp {
    width: 100%;
    /*        padding-top: 25px;*/
}

.page-pageall .profile-thumbnail {
    /*float: left;*/
    margin: 20px;
}

.page-pageall .profile-thumbnail .img-wrp{
    text-align: center;
    margin: 10px;
}
.page-pageall .profile-thumbnail .img-wrp img {
    border-radius: 10px;
    width: 130px;
    height: 140px;
}

.page-pageall .profile-thumbnail .profile-name {
    font-weight: bold;
    font-size: 1em;
    padding: 16px;
    text-align: center;
    background: #f1f0f0;
    border-radius: 11px;
    margin: 0 auto;
    display: table;
}

.page-pageall .topic-box-wrapper {

}

.page-pageall .topic-boxes {
    border-bottom: 1px solid #A6A6A6;
    margin: 0 auto;
    padding-bottom: 30px;
}

.page-pageall .topic-boxes .title {
    font-size: 18px;
    padding-bottom: 30px;
}

.page-pageall .topic-boxes .title h1 {
    font-size: 1.4em;
    padding-bottom: 20px;
}


.page-pageall .topic-collection .topic-nav li{
    float: left;
    position: relative;
}

.page-pageall .topic-collection ul li a{
    display: block;
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
    margin: 0px 5px;
    width: 180px;
}


.page-pageall .topic-collection ul li a:hover {
    color: black;
    border:2px solid #7dd8e8;
}

.page-pageall .topic-collection ul li:hover .sub-menu {
    display: block;
    background: white;
    height: auto;
    width: 180px;
    border: 0px;
    border-radius: 0px;
    border: none;
    text-decoration: none;
    padding: 0px;
    margin: 0px;
}

.topic-collection ul li:hover .sub-menu li a{
    display: block;
    border: 1px solid white;
    border-radius: 0px;
    background: #dddddd;

}


.topic-collection ul li:hover .sub-menu li:first-child a{
    background:#7dd8e8;
    color: white;

}
.topic-collection ul li:hover .sub-menu :not(:first-child) a:hover{
    background: red;
    color: white;

}



.sub-menu:first-child{
    background: #7dd8e8;
    border: 2px solid white;

}

.sub-menu a{
    display: block;
}




.page-pageall .topic-nav-wrapper {
    width: 180px;
    padding: 10px 15px;
    text-align: center;
    float: left;
    border-radius: 10px;
    border: 2px solid #b1a4a4;
    margin-right: 9px;

}

/*popup 1st*/

.page-pageall .nav-left ul{
    position: relative;
}

.page-pageall .nav-left ul li:hover .popup{
    display: block;
    border: 1px solid;
    height: auto;
    width: 290px;
}



.holder{
    width: 100%;
    display: block;
}
.popup{
    width: 290px;
    display: none;
    border-radius: 10px;
    padding: 0px;
    position: absolute;
    margin: 0 auto;
    z-index: 1;
    border: none;
    background-color: #7dd8e8;

}

.popup-container{
    width: 100%;
}

.header-wrapper{
    margin : 10px 0px ;
}
.popup-header p{
    text-align:center;
    line-height: 60px;
    color: white;
    font-size: 18px;
}

.popup input{
    width: 100%;
}

.header-title{
    font-size: 13px;
    float: left;
    margin-right: 5px;
}

.header-req{
    float: right;
    font-size: 13px;
}

textarea{
    overflow: hidden;
    border-radius: 5px;
    resize: none;
    border:1px solid #dddddd;
    width: 100%;
    padding: 15px 10px;
}

.popup-body{
    background: #f7f7f7;
    width: 100%;
}
.popup-form-wrapper{
    padding:30px;
}


.popup .form-buttons{
    margin-top: 10px;
    text-align: right;
}

.form-buttons button{
    border-radius: 5px;
    background: #dddddd;
    border: none;
    padding: 5px;
}
.popup-btn-cancel{
}

.popup-btn-save{
    float:right;
    margin-left: 5px;
}

.popup-btn-save:hover{
    background: #7dd8e8;
    color: white;
}

.popup .popup-box {
    width: 150px;
    font-size: 10px;
    border-radius: 10px;
    border: 2px solid #CBCFD0;
    display: inline-block;
    margin-right: 30px;
    background: #839c98;
}

.popup-change {
    background: #274f56;
    color: white;
    font-weight: 600;
}


/*//popup 2*/
.popup-category{
    /*position: relative;*/
}

.category-desc:hover .popup-2{
    display: block;
    border: 1px solid;
    height: auto;
    width: 200px;
    top:5%;
    left: 105%;
}

.popup-category:hover .popup-category{
    width: 125%;
}

.popup-2{
    width: 205px;
    display: none;
    padding: 0px;
    position: absolute;
    margin: 0 auto;
    z-index: 1;
    border: none;
    background-color: #f7f7f7;
}

.popup-2 .choose-header{
     color: white;
    padding: 10px;
    background: #2f565c;
}

.choose-category{
}

.choose-header span{
    float: left;
}

.choose-header button{
    float: right;
    border-radius: 5px;
    border: medium none;
    padding: 2px 5px;
    background: #7dd8e8;
}

.choose-info{
    padding:10px;
}

.choose-fav{
    padding: 10px;

}

.category-name{
    /*padding: 10px;*/
}

.category-name>span,.suggest-category>span{
    color: white;
    background-color: #7dd8e8;
    display: block;
    padding: 8px;

}

.suggest-category-wrapper{
    overflow: scroll;
    overflow-x:hidden;
}

.category-name ul li,.suggest-category ul li{
    width: 100%;
    margin-left: 0px;
    padding-left: 10px;
    border: 0.5px solid white;
    background: #f7f7f7;
}

.category-name ul li a,.suggest-category ul li a{
    padding:5px
}

/*end of popup 2*/


/*popup 3*/

.choose-fav:hover .popup-3{
    display: block;
    height: auto;
    width: 100px;
    top:0%;
    left: 105%;
}

.choose-fav:hover .fav-color{
    width: 125%;
}

.popup-3 table{
    width: 100%;
}
.popup-3 table tr td{
    text-align: center;
    background:lightgreen;
}

.popup-3{
    width: 100px;
    display: none;
    padding: 0px;
    position: absolute;
    margin: 0 auto;
    z-index: 1;
    border: none;
    background-color: white;
}

/*end of popup3*/

.page-pageall .topic-nav img {
    width: 100%;
}

.page-pageall .topic-nav p {
    font-weight: bold;
    margin: 0px;
    font-size: 12px;
}

.page-pageall .sub-menu {
    width: 180px;
    display: none;
    border-radius: 0px;
    padding: 0px;
    position: absolute;
    border: none;
}

.sub-menu li{
    border:none;
    padding:0px;
}
.sub-menu li a{
    border: none;
}

.page-pageall .topic-nav .sub-menu-title {
    background: #7dd8e8;
    color: white;
}

/*page all topic collection*/
.page-pageall .topic-list-container {
    clear: both;
    margin-top: 30px;
    margin-bottom: 40px;
    
}

.page-pageall .topic-box-wrp {
    
}

.page-pageall .topic-box {
    width: 150px;
    font-size: 10px;
    border-radius: 10px;
    border: 2px solid #CBCFD0;
    display: inline-block;
    margin-right: 30px;
    background: #839c98;
}

.page-pageall .topic-header {
    background-color: #fff;
    padding: 5px;
    margin-top: 10px;
}

.page-pageall .topic-name {
    text-align: center;
    border-bottom: 1px solid #DFDFE1
}

.page-pageall .topic-name .topic-action {
    float: right;
    font-style: italic;
    color: #7dd8e8;
}

.page-pageall .topic-info {
    clear: both;
}

.page-pageall .topic-info .comments {
    float: right;
}

.page-pageall .topic-body img {
    width: 100%;
}

.page-pageall .topic-tag {
    padding: 5px;
}

/*all friends*/
.page-pageall .topic-list-container {
    clear: both;
    margin-top: 30px;
    margin-bottom: 40px;
    
}

.page-pageall .topic-box-wrp {
    
}

.page-pageall .topic-box {
    width: 150px;
    height: 230px;
    font-size: 10px;
    border-radius: 10px;
    border: 2px solid #CBCFD0;
    display: inline-block;
    margin-right: 30px;
    background: #839c98;
}

.page-pageall .topic-header {
    background-color: #fff;
    padding: 5px;
    margin-top: 10px;
}

.page-pageall .topic-name {
    text-align: center;
    border-bottom: 1px solid #DFDFE1
}

.topic-name h3{

    font-weight: bold;
    font-size: 12px;
}

.page-pageall .topic-name .topic-action {
    float: right;
    font-style: italic;
}

.page-pageall .topic-info {
    clear: both;
}

.topic-info .entries{
    float: left;
}

.page-pageall .topic-info .comments {
    float: right;
    color: #7dd8e8;
}

.page-pageall .topic-body img {
    width: 100%;
}

.page-pageall .topic-tag {
    padding: 5px;
}

.topic-tag p{
    color: white;
    font-size: 12px;
}


@media (min-width: 767px) {


}

@media (min-width: 992px) {
    .page-pageall .col-main {
        margin-left: 10px;
    }

    .page-pageall .profile-thumbnail {
        float: left;
        margin: 0px;
    }

    .page-pageall .profile-thumbnail .img-wrp{
        margin: 0px;
    }

    .page-pageall .profile-thumbnail .profile-name {
        padding: 10px 0 20px;
        margin: 0px;
        display: block;
    }


    .page-pageall .topic-box-wrapper {
        float: right;
        width: 82%;
    }


    .page-pageall .topic-boxes {
        border-bottom: 1px solid #A6A6A6;
        margin-left: 30px;
        padding-bottom: 30px;
    }



}



/*browse-dropdown*/
.page-browse p {
    text-align: justify;
    font-size: 12px;
    padding: 10px 0;
    line-height: 1.5;
}

.page-browse .new-comment {
    color: #7dd9e8;
    font-weight: 600;
}

.page-browse .topic-box-wraper {
    float: right;
    width: 75%;
    font-size: 12px;
    font-weight: 600;
}

.page-browse .topic-box h2 {
    font-size: 30px;
    font-weight: 600;
}

.page-browse .topic-box ul {
    margin-top: 10px;
    padding: 12px 0;
    border-bottom: 1px solid #d8d8d8;
    border-top: 1px solid #d8d8d8;
}

.page-browse .topic-box ul li {
    float: left;
}

.page-browse .topic-post-wrapper {
    width: 100%;
    margin-top: 25px;
    padding: 25px 40px;
    border: 1px solid #f2f2f2;
    overflow: auto;
}

.page-browse .topic-post {
    padding-bottom: 35px;
    padding-top: 20px;
    border-bottom: 2px solid #f2f2f2;
}

.page-browse h3 {
    line-height: 1.5;
    font-weight: 600;
}

.page-browse .topic-post h3 a {
    font-size: 20px;
    font-weight: 500;
    color: #b46c22;
}

.page-browse .topic-post ul li {
    float: left;
    color: #9d9d9d;
    font-size: 10px;
}

.page-browse .topic-post li a {
    color: #7dd9e8;
    font-weight: 600;
}

.page-browse .topic-post li a:hover {
    color: black;
}

.page-browse .topic-post p {
    margin: 5px 0 10px 0;
    font-weight: 600;
}

.page-browse .topic-post span {
    background: #7dd9e8;
    padding: 5px;
    border-radius: 8px;
    display: inline-block;
}


.page-browse .topic-post span a {
    font-size: 10px;
    font-weight: 600;
}

@media (min-width: 992px) {

    .page-browse .main {
        width: 690px;
    }

    .page-browse .profile {
        width: 124px;
        float: left;
    }

    .page-browse .profile-thumbnail {
        float: left;
    }

    .page-browse .profile-thumbnail .profile-name {
        width: 100%;
        background: #f7f7f7;
        border-radius: 15px;
        font-size: 12px;
        font-weight: 600;
        margin-top: 5px;
        padding: 10px 0 40px 0;
        text-align: center;
        display: inline-block;
    }

    .page-browse .topic-box {
        float: left;
        margin-left: 30px;
        width: 536px;
    }


    .page-browse .topic-box span {
        font-size: 10px;
        font-weight: 600;
    }


    .page-browse .topic-box ul li a {
        float: left;
    }

    .page-browse .topic-post {
        width: 610px;
    }

    .page-browse .col-right {
        width: 230px;
        background: #f7f7f7;
    }

    .page-browse .browse-topic-boxes span {
        background: #b46c22;
        display: block;
        padding: 12px;
    }

    .page-browse .browse-topic-boxes span a {
        color: #ffffff;
        font-weight: 600;
        display: inline-block;
    }

    .browse-topic-boxes .browse-dropdown span {
        display: block;
        padding: 0 10px;
        line-height: 30px;
    }



    .page-browse .browse-dropdown {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        width: 225px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        border: 1px solid #989898;
        padding: 2px 2px 0 2px;
    }

    .page-browse .browse-topic-boxes:hover .browse-dropdown {
        display: block;
    }

    .browse-dropdown .my-topicboxes {
        background: #333333;
        padding: 6px 10px;
    }
    .browse-dropdown .my-topicboxes span {
        background: #333333;
        display: block;
        padding: 0px;
        line-height: 16px;

    }



    .browse-dropdown span {
        display: block;
        padding: 0 10px;
        line-height: 30px;
    }

    .browse-dropdown div {
        color: #ffffff;
        font-size: 12px;
        font-weight: 600;
        margin-bottom: 2px;
    }



    .browse-dropdown .crafts span {
        background: #b46c22;
    }



    .browse-dropdown ul {
        padding: 12px 0;
        background: #f5f5f5;
    }

    .browse-dropdown ul li {
        display: inline-block;
        padding: 6px;
    }

    .browse-dropdown ul li a {
        display: inline-block;
        padding-left: 15px;
        background-image: url('../images/tbBlack-icon.png');
        background-position: left center;
        background-repeat: no-repeat;
    }

    .browse-dropdown ul li a:hover {
        background-image: url('../images/tbBlue-icon.png');
        color: #2fc1d9;
    }

    .browse-dropdown .health span {
        background: #d95e56;
    }

    .browse-dropdown .reading span {
        background: #72794f;
    }

    .browse-dropdown .eating span {
        background: #a1a9da;
    }






    .page-browse .entries-list {
        padding: 30px 0;
    }

    .page-browse .entries-list a {
        margin-left: 15px;
        background: #7dd9e8;
        padding: 6px 15px;
        border-radius: 8px;
        color: #ffffff;
        font-weight: 600;
        display: inline-block;
    }

    .page-browse .entries-list span {
        display: block;
        margin: 0 10px;
        padding: 30px 0 10px 0;
        font-size: 14px;
        font-weight: 600;
        border-bottom: 5px double #bbbbbb;
        margin-bottom: 10px;
    }

    .page-browse .entries-list ul li a {
        background: none;
        color: #9d9d9d;
        font-size: 10px;
        margin: 0;
        padding: 10px 20px 10px 10px;
        width: 100%;
        display: block;
    }

    .page-browse .entries-list ul li a h3 {
        color: #b46c22;
        font-size: 14px;
        padding-right: 10px;
    }

    .page-browse .entries-list ul li a span {
        border-bottom: none;
        color: #7dd9e8;
        font-size: 12px;
        margin: 0;
        padding: 5px 0;
    }

    .page-browse .entries-list ul li a:hover {
        background: #ffffff;
        border-radius: 0;
    }




}

/*//page all friends*/
.page-allfriends .main-header-tabs {
    display: table;
}

.page-allfriends .main-header-tabs ul li {
    display: table-cell;
    float: left;
    border: 1px solid white;
    background: #dddddd;
}

.page-allfriends .main-header-tabs ul li a {
    padding: 20px 43px;
    display: block;
}

.page-allfriends .main-header-tabs ul li a:hover {
    color: white;
    background: #7dd8e8;
}

.page-allfriends .main-header-nav-wrapper {
    background: #dddddd;
    
}

.page-allfriends .main-header-nav-wrapper {
    
}

.page-allfriends .main-header-nav-wrapper .searchbar {
    padding: 10px;
    width: 50%;
    float: left;
}

.page-allfriends .main-header-nav-wrapper .searchbar form {
    
    width: 100%;
}

.page-allfriends .main-header-nav-wrapper .searchbar form .search-wrap {
    width: 100%;
    background: white;
}

.page-allfriends .main-header-nav-wrapper .searchbar .search-result {
    background: white;
    width: 90%;
}

.page-allfriends .main-header-nav {
    float: right;
    padding: 15px;
}

.page-allfriends .main-header-nav ul li {
    float: left;
}

.page-allfriends .main-header-nav ul li a {
    padding: 15px;
}

.page-allfriends .main-header-nav ul li a:hover {
    background: #7dd8e8;
    color: white;
}

.page-allfriends .topic-list-container {
    
    margin: 30px 30px 40px 0px;
}

.page-allfriends .topic-box {
    float: left;
    margin-right: 30px;
    width: 120px;
}

.page-allfriends .topic-box ul li a {
    float: left;
    padding: 15px;
}

.page-allfriends .topic-post {
    width: 610px;
}

