@charset "utf-8";
/* CSS Document */

*{
	
	margin:0
	padding:0
}

body{
	
}

ul{
	list-style:none;
}

.container{
	}

.header{
	
}

.logo{
	float: left;	
}

.logo a{
	display: block;	
}

.head-menu{	
	float: left;
	text-align:right;
}

.head-menu-li{
	float: left;
	margin-left:20px;	
}